<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task management</title>
</head>
<body>
<h1> Task management</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Priority</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${tasks.id}"></td>
        <td th:text="${tasks.title}"></td>
        <td th:text="${tasks.description}"></td>
        <td th:text="${tasks.priority}"></td>
        <td>
            <a th:href="@{/task/delete/{id}(id=${task.id})}">Delete</a>
            <a th:href="@{/task/edit/{id}(id=${task.id})}">Edit</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/task/create">Create task</a>
</body>
</html>